# ============= #
# Unreal Engine #
# ============= #

Pentris/DerivedDataCache
Pentris/Intermediate
Pentris/Saved
Pentris/Binaries/Win64/*.pdb
Pentris/*.sdf
Pentris/*.opensdf
Pentris/*.suo
Pentris/*.sln
KokkuEngine/DerivedDataCache
KokkuEngine/Intermediate
KokkuEngine/Saved
KokkuEngine/Binaries/Win64/*.pdb
KokkuEngine/*.sdf
KokkuEngine/*.opensdf
KokkuEngine/*.suo
KokkuEngine/*.sln