# ============= #
# Unreal Engine #
# ============= #

KokkuEngine/DerivedDataCache
KokkuEngine/Intermediate
KokkuEngine/Saved
KokkuEngine/Binaries/Win64/*.pdb
KokkuEngine/*.sdf
KokkuEngine/*.opensdf
KokkuEngine/*.suo
KokkuEngine/*.sln