# ============= #
# Unreal Engine #
# ============= #

Pentris/DerivedDataCache
Pentris/Intermediate
Pentris/Saved
Pentris/Binaries/Win64/*.pdb
Pentris/*.sdf
Pentris/*.opensdf
Pentris/*.suo
Pentris/*.sln